[submodule "3rdParty/source/lib/Mqtt.C"]
	path = 3rdParty/source/lib/Mqtt.C
	url = http://git.eclipse.org/gitroot/paho/org.eclipse.paho.mqtt.c.git
[submodule "3rdParty/source/lib/boost/lockfree"]
	path = 3rdParty/source/lib/boost/lockfree
	url = https://github.com/boostorg/lockfree.git
